Django>=3.1
channels>=2.4.0
channels_redis
django-registration-redux
django-extensions
oauthlib

# django-oauth-toolkit SWAPPED FOR MODIFIED GIT BECAUSE OF TERRIBLE SWAPPABLE MODELS
django-cors-headers
django-filter
django-health-check
djangorestframework
psycopg2
graphene-django
graphql-core<3,>=2.1.0
pyyaml
requests



# Testing and Linting
ptvsd
pytest-django 
pytest-asyncio
pylint
pylint-django


pydantic
colorlog
namegenerator
pyjwt