Django>=3.1
django-registration-redux
django-extensions
django-avatar
oauthlib

cryptography
django-crispy-forms
jwcrypto

# django-oauth-toolkit SWAPPED FOR MODIFIED GIT BECAUSE OF TERRIBLE SWAPPABLE MODELS
django-cors-headers
django-filter
django-health-check
djangorestframework
psycopg2
graphene-django
graphql-core<3,>=2.1.0
pyyaml
requests
django-probes

# Deps
balder>=0.1.19


# Testing and Linting
ptvsd
pytest-django 
pytest-asyncio
pylint
pylint-django


pydantic
colorlog
namegenerator
pyjwt

# DeployMent
omegaconf
gunicorn