{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="flex flex-col items-center">


            <form method="post" action="">
        <div class="flex-grow flex flex-col my-auto items-center">
    
            {% csrf_token %}
            <img class="mb-4" src="{% static "img/arkitekt.png" %}" alt="" width="100rem" height="100rem">
            <h1 class="h3 mb-3 ">Please sign in</h1>
            <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
            <input id="{{ form.username.id_for_label }}" class="w-full lg:flex items-center text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-70" placeholder="Username"
                name="{{ form.username.name }}" required autofocus>
            <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
            <input type="password" id="{{ form.password.id_for_label }}" class="mt-2 w-full lg:flex items-center text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-70" placeholder="Password"
                name="{{ form.password.name }}" required>
            <div class="checkbox mb-3">
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button class="border-blue-300 border rounded px-5 py-1 mb-3" type="submit">Sign in</button>
            <div class="flex flex-col">
            <div>{% trans "Forgot your password?" %} <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a></div>
            <div><p>{% trans "Not a member?" %} <a href="{% url 'signup' %}">{% trans "Register" %}</a>.</p></div>
            </div>
            <p class="mt-5 mb-3 text-muted small">arkitekt &copy; 2017-2022</p>
            
    </div>
    </form>

    </div>
{% endblock %}


{% comment %}
    **registration/login.html**

    It's your responsibility to provide the login form in a template called
    registration/login.html by default. This template gets passed four
    template context variables:

    ``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

    ``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

    ``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

    ``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
