
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
  <div class="container-fluid d-flex flex-column flex-fill align-items-center justify-content-center reg-container">

    <div class="card login-card">
    <form method="post" action="">
        {% csrf_token %}
        <img class="mb-4" src="{% static "img/oslologo_from_black.svg" %}" alt="" width="72" height="72"><br/>
        Username
        <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
        <input id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username"
               name="{{ form.username.name }}" required autofocus>
        Email
        <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label>
        <input id="{{ form.email.id_for_label }}" class="form-control" placeholder="Email"
              name="{{ form.email.name }}" required autofocus>
        Password
        <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
        <input type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password"
               name="{{ form.password.name }}" required>
        Confirmation
        <label for="{{ form.password_confirmation.id_for_label }}" class="sr-only">Password Confirmation</label>
        <input type="password" id="{{ form.password_confirmation.id_for_label }}" class="form-control" placeholder="Password"
              name="{{ form.password_confirmation.name }}" required>

        <input type="hidden" name="next" value="{{ next }}"/>
        <button class="btn btn-md btn-primary btn-block mb-4" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted small">bergen &copy; 2017-2019</p>
    </form>

    </div>
  </div>
{% endblock %}