{% extends "infos/base.html" %}

{% load static %}
{% load i18n %}
{% block content %}

<div class="flex  text-white h-full w-full justify-center align-center">
    {% if success %}
    <div class=" max-w-[40rem] max-h-[10rem] border border-1 border-gray-200 p-3 rounded rounded-md mt-3 align-center flex  flex-col justify-center p-4 "><span class="text-3xl"> Successfully authorized!</span> <span class="text-xl font-light"> You can close this page now</span></div>
    {% else %}
    <form id="authorizationForm" method="post">
        <div class=" max-w-[40rem] border border-1 border-gray-200 p-3 rounded rounded-md mt-3 align-center flex  flex-col justify-center">
            
            <img width=100 src="{%  static 'img/lok.png' %}" />

            <h1 class="text-3xl mt-2"><b> Hallo {{ request.user.username }}</b></h1>
            <h3 class="text-xl font-bold mt-2">{% trans "Authorization Request" %}</h3>

        <h1 class="text-3xl font-light">{{ code.identifier}}</h1>
        <h2 class="text-2xl font-light">{{ code.version}}</h2>

        <div>
            <span> is requesting permission to access your account using OAuth2 Device Code Flow. By granting access, you will allow the app to perform specific actions based on the requested scopes. Please review the requested permissions below before proceeding. Your security and privacy are our top priorities.y</span>
        </div>
        <div class="mt-2">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">

                    <br />
                    <br />
                    <div class="controls btn-group">
                        <input type="submit" class="btn btn-lg btn-danger" value="Cancel" />
                        <input type="submit" class="btn btn-lg btn-primary" name="allow" value="Allow" />
                    </div>
                </div>
            </form>
        </div>

        <div class="mt-3">
            <a class="border rounded rounded-md border-1 px-2 py-1 hover:bg-slate-500" href="{%  url 'login' %}?next={{request.get_full_path|urlencode}}">Change
                Account</a>
        </div>
        {% endif %}
    </div>
</div>
</form>

{% endblock %}